<div class="board-specs">
    <div class="board-spec">
        <label>Phase</label>
        <h5>@DistributionBoard.Phase.GetDisplayName()</h5>
    </div>

    <div class="board-spec">
        <label>Voltage</label>
        <h5>@DistributionBoard.Voltage.GetDisplayName()</h5>
    </div>

    <div class="board-spec">
        <label>Circuit Protection</label>
        <h5>@DistributionBoard.CircuitProtection.GetDisplayName()</h5>
    </div>

    <div class="board-spec">
        <label>Number of Sets</label>
        <h5>@DistributionBoard.SetCount</h5>
    </div>

    <div class="board-spec">
        <label>Conductor Type</label>
        <h5>@DistributionBoard.ConductorType.ToString()</h5>
    </div>

    <div class="board-spec">
        <label>Grounding</label>
        <h5>@DistributionBoard.Grounding.ToString()</h5>
    </div>

    <div class="board-spec">
        <label>Raceway Type</label>
        <h5>@DistributionBoard.RacewayType.GetDisplayName()</h5>
    </div>
</div>

@code {
    [Parameter] public DistributionBoard DistributionBoard { get; set; } = default!;
}