@inject NavigationManager Navigation
@inject DatabaseContext DatabaseContext

@if (IsOpen && _editContext != null)
{
    <div class="modal-wrapper" @onclick="CloseModal">
        @{
            var threePhaseBoard = _newProject.MainDistributionBoard as ThreePhaseDistributionBoard;
        }
        <EditForm
            class="modal create-project-modal"
            @onclick:stopPropagation="true"
            EditContext=@_editContext
            OnValidSubmit=@HandleValidFormSubmit>

            <ObjectGraphDataAnnotationsValidator/>

            <div class="modal-header">
                <h5>Create Project</h5>
            </div>

            <div class="modal-content create-project-modal-fields">
                <div class="create-project-modal-field">
                    <label>Project Name <span class="red-asterisk">*</span></label>
                    <InputText class="input-primary" @bind-Value="_newProject.ProjectName" placeholder="Bedroom Elec. SOL"/>
                    <ValidationMessage For=@(() => _newProject.ProjectName)/>
                </div>

                <div class="create-project-modal-field">
                    <label>Main Distribution Board Name <span class="red-asterisk">*</span></label>
                    <InputText class="input-primary" @bind-Value="_newProject.MainDistributionBoard.BoardName" placeholder="Bedroom Main PB"/>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.BoardName)/>
                </div>

                <div class="create-project-modal-field-row">
                    <div class="create-project-modal-field">
                        <label>Phase <span class="red-asterisk">*</span></label>
                        <InputSelect @bind-Value:get=_newProject.MainDistributionBoard.Phase @bind-Value:set="UpdatePhase">
                            @foreach (BoardPhase phase in Enum.GetValues(typeof(BoardPhase)))
                            {
                                <option value="@phase">@phase.GetDisplayName()</option>
                            }
                        </InputSelect>
                        <ValidationMessage For=@(() => _newProject.MainDistributionBoard.Phase)/>
                    </div>

                    @if (threePhaseBoard is not null)
                    {
                        <div class="create-project-modal-field">
                            <label>Configuration <span class="red-asterisk">*</span></label>
                            <InputSelect
                                Value="threePhaseBoard.ThreePhaseConfiguration"
                                ValueChanged="@((ThreePhaseConfiguration config) => UpdateThreePhaseConfiguration(config))"
                                ValueExpression="@(() => threePhaseBoard.ThreePhaseConfiguration)">
                                @foreach (ThreePhaseConfiguration config in Enum.GetValues(typeof(ThreePhaseConfiguration)))
                                {
                                    <option value="@config">@config.GetDisplayName()</option>
                                }
                            </InputSelect>
                            <ValidationMessage For=@(() => threePhaseBoard.ThreePhaseConfiguration)/>
                        </div>
                    }
                </div>
                
                <div class="create-project-modal-field">
                    <label>Building Classification <span class="red-asterisk">*</span></label>
                    <InputSelect @bind-Value=_newProject.MainDistributionBoard.BuildingClassification>
                        @foreach (var buildingClassification in _newProject.MainDistributionBoard.AllowedBuildingClassifications)
                        {
                            <option value="@buildingClassification">@buildingClassification.GetDisplayName()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.BuildingClassification)/>
                </div>

                <div class="create-project-modal-field">
                    <label>Voltage <span class="red-asterisk">*</span></label>
                    <InputSelect @bind-Value=_newProject.MainDistributionBoard.Voltage>
                        @foreach (var voltage in _newProject.MainDistributionBoard.AllowedVoltages)
                        {
                            <option value="@voltage">@voltage.GetDisplayName()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.Voltage)/>
                </div>

                <div class="create-project-modal-field">
                    <label>Circuit Protection <span class="red-asterisk">*</span></label>
                    <InputSelect @bind-Value=_newProject.MainDistributionBoard.CircuitProtection>
                        @foreach (var circuitProtection in DistributionBoard.AllowedCircuitProtections)
                        {
                            <option value="@circuitProtection">@circuitProtection.GetDisplayName()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.CircuitProtection)/>
                </div>

                <div class="create-project-modal-field-row">
                    <div class="create-project-modal-field">
                        <label>Conductor Type <span class="red-asterisk">*</span></label>

                        <InputSelect @bind-Value="_newProject.MainDistributionBoard.ConductorTypeId">
                            @foreach (var conductorType in ConductorType.All)
                            {
                                <option value="@conductorType.Id">@conductorType.ToString()</option>
                                @* <option value="@conductorType.Name">@conductorType.Name</option> *@
                            }
                        </InputSelect>
                        <ValidationMessage For=@(() => _newProject.MainDistributionBoard.ConductorTypeId)/>
                    </div>

                    <div class="create-project-modal-field">
                        <label>Grounding <span class="red-asterisk">*</span></label>

                        <InputSelect @bind-Value="_newProject.MainDistributionBoard.GroundingId">
                            @foreach (var conductorType in ConductorType.All)
                            {
                                <option value="@conductorType.Id">@conductorType.ToString()</option>
                            }
                        </InputSelect>
                        <ValidationMessage For=@(() => _newProject.MainDistributionBoard.GroundingId)/>
                    </div>
                </div>

                <div class="create-project-modal-field">
                    <label>Raceway Type <span class="red-asterisk">*</span></label>
                    <InputSelect @bind-Value=_newProject.MainDistributionBoard.RacewayType>
                        @foreach (RacewayType racewayType in Enum.GetValues(typeof(RacewayType)))
                        {
                            <option value="@racewayType">@racewayType.GetDisplayName()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.RacewayType)/>
                </div>

                <div class="create-project-modal-field">
                    <label>Ambient Temperature (°C) <span class="red-asterisk">*</span></label>
                    <InputSelect @bind-Value=_newProject.MainDistributionBoard.AmbientTemperature>
                        @foreach (AmbientTemperature ambientTemperature in Enum.GetValues(typeof(AmbientTemperature)))
                        {
                            <option value="@ambientTemperature">@ambientTemperature.GetDisplayName()</option>
                        }
                    </InputSelect>
                    <ValidationMessage For=@(() => _newProject.MainDistributionBoard.AmbientTemperature)/>
                </div>
                
                @if (threePhaseBoard is not null)
                {
                    <div class="create-project-modal-field">
                        <label>Transformer Primary Protection <span class="red-asterisk">*</span></label>

                        <InputSelect @bind-Value="@threePhaseBoard.TransformerPrimaryProtection" disabled>
                            @foreach (var transformerPrimaryProtection in threePhaseBoard.AllowedTransformerPrimaryProtections)
                            {
                                <option value="@transformerPrimaryProtection">@transformerPrimaryProtection.GetDisplayName()</option>
                            }
                        </InputSelect>
                        <ValidationMessage For=@(() => threePhaseBoard.TransformerPrimaryProtection)/>
                    </div>

                    <div class="create-project-modal-field">
                        <label>Transformer Secondary Protection <span class="red-asterisk">*</span></label>

                        <InputSelect @bind-Value="@threePhaseBoard.TransformerSecondaryProtection">
                            @foreach (var transformerSecondaryProtection in DistributionBoard.AllowedCircuitProtections)
                            {
                                <option value="@transformerSecondaryProtection">@transformerSecondaryProtection.GetDisplayName()</option>
                            }
                        </InputSelect>
                        <ValidationMessage For=@(() => threePhaseBoard.TransformerSecondaryProtection)/>
                    </div>
                }
            </div>

            <div class="modal-footer modal-footer-btns">
                <button
                    class="btn-text create-project-modal-cancel-btn"
                    type="button"
                    @onclick="CloseModal">
                    Cancel
                </button>

                <button
                    class="btn-text create-project-modal-create-btn btn-primary"
                    type="submit"
                    disabled="@(!_editContext.Validate() || !_editContext.IsModified())">
                    Create
                </button>
            </div>
        </EditForm>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    Project _newProject = new() { 
        MainDistributionBoard = new SinglePhaseDistributionBoard
        {
            BuildingClassification = BuildingClassification.DwellingUnit
        } 
    };
    
    EditContext? _editContext = null;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_newProject);
    }

    async Task CloseModal()
    {
        IsOpen = false;
        await IsOpenChanged.InvokeAsync(IsOpen);
    }

    void UpdatePhase(BoardPhase phase)
    {
        DistributionBoard updatedNewDistributionBoard;

        if (phase == BoardPhase.SinglePhase)
        {
            updatedNewDistributionBoard = new SinglePhaseDistributionBoard();
        }
        else
        {
            updatedNewDistributionBoard = new ThreePhaseDistributionBoard
            {
                ThreePhaseConfiguration = ThreePhaseConfiguration.Delta,
                TransformerPrimaryProtection = CircuitProtection.CutOutFuse,
                TransformerSecondaryProtection = CircuitProtection.MiniatureCircuitBreaker,
                LineToLineVoltage = LineToLineVoltage.Abc
            };
        }

        updatedNewDistributionBoard.Id = _newProject.MainDistributionBoard.Id;
        updatedNewDistributionBoard.BoardName = _newProject.MainDistributionBoard.BoardName;
        updatedNewDistributionBoard.Phase = phase;
        updatedNewDistributionBoard.BuildingClassification = 
            updatedNewDistributionBoard.AllowedBuildingClassifications.Contains(_newProject.MainDistributionBoard.BuildingClassification)
                ? _newProject.MainDistributionBoard.BuildingClassification
                : updatedNewDistributionBoard.AllowedBuildingClassifications[0];
        updatedNewDistributionBoard.Voltage = updatedNewDistributionBoard.AllowedVoltages[0];
        updatedNewDistributionBoard.CircuitProtection = _newProject.MainDistributionBoard.CircuitProtection;
        updatedNewDistributionBoard.SetCount = _newProject.MainDistributionBoard.SetCount;
        updatedNewDistributionBoard.ConductorTypeId = _newProject.MainDistributionBoard.ConductorTypeId;
        updatedNewDistributionBoard.GroundingId = _newProject.MainDistributionBoard.GroundingId;
        updatedNewDistributionBoard.RacewayType = _newProject.MainDistributionBoard.RacewayType;

        _newProject.MainDistributionBoard = updatedNewDistributionBoard;
        StateHasChanged();
    }

    void UpdateThreePhaseConfiguration(ThreePhaseConfiguration newConfiguration)
    {
        ((ThreePhaseDistributionBoard)_newProject.MainDistributionBoard).ThreePhaseConfiguration = newConfiguration;

        var allowedVoltages = _newProject.MainDistributionBoard.AllowedVoltages;
        if (!allowedVoltages.Contains(_newProject.MainDistributionBoard.Voltage))
        {
            _newProject.MainDistributionBoard.Voltage = allowedVoltages[0];
        }

        StateHasChanged();
    }

    async Task HandleValidFormSubmit()
    {
        _newProject.DateCreated = DateTime.Now.ToDatabaseString();
        await DatabaseContext.Projects.AddAsync(_newProject);
        await DatabaseContext.SaveChangesAsync();
        await CloseModal();

        Navigation.NavigateTo($"/board/{_newProject.MainDistributionBoardId}");
    }

}