<div class="fixtures-itemized">
    
    <div class="fixtures-itemized-head">
        <p>Fixtures</p>
        <button type="button" class="btn-text btn-secondary" @onclick="@AddFixture">Add</button>
    </div>
    
    @foreach (var fixture in Fixtures)
    {
        <p>Fixture @fixture.Id | Desc: @fixture.Description | Qty: @fixture.Quantity | W: @fixture.Wattage</p>
    }
    
    <div class="fixtures-itemized-list">
        @{
            var hasMoreThanOneFixture = Fixtures.Count > 1;
        }
        
        @foreach (var fixture in Fixtures)
        {
            <CreateOrEditCircuitModalItemizedFixture
                Fixture="@fixture"
                RemoveFixture="RemoveFixture"
                IsRemovable="hasMoreThanOneFixture"
                OnFixtureChange="@(() => OnFixtureChange.InvokeAsync())"/>
        }
    </div>
</div>

@code {
    [Parameter, EditorRequired] public List<Fixture> Fixtures { get; set; }
    
    [Parameter, EditorRequired] public Action AddFixture { get; set; }
    
    [Parameter, EditorRequired] public Action<Fixture> RemoveFixture { get; set; }
    
    [Parameter, EditorRequired] public EventCallback OnFixtureChange { get; set; }
}