@{
    var fixtureCircuit = Circuit as FixtureCircuit;
    var convenienceCircuit = Circuit as ConvenienceOutletCircuit;
    var isAmpereLoadExceeding = Circuit is LightingOutletCircuit && Circuit.AmpereLoad.Value > 50;
}

<div class="circuit-preview">
    <h4>Preview</h4>

    <div class="circuit-preview-value">
        <label>Sets</label>
        <p>@(Circuit.SetCount)</p>
    </div>

    <div class="circuit-preview-value">
        <label>Load Description</label>
        <p>@(Circuit.Description)</p>
        @if (fixtureCircuit?.IsItemized ?? false)
        {
        foreach (var fixture in fixtureCircuit.Fixtures)
        {
        <p class="item-sub">@(fixture.Description == string.Empty ? "Fixture" : fixture.Description) (@(fixture.Wattage) Watts)</p>
        }
        } else if (convenienceCircuit != null)
        {
            if (convenienceCircuit.GfciReceptacleQuantity > 0)
            {
                <p class="item-sub @(convenienceCircuit.HasExceedingAmpereTrip ? "item-error" : "")">GFCI Receptacle (@(convenienceCircuit.AmpereTrip) AT)</p>
            }

            if (convenienceCircuit.OneGangQuantity > 0)
            {
                <p class="item-sub">1-Gang</p>
            }

            if (convenienceCircuit.TwoGangQuantity > 0)
            {
                <p class="item-sub">2-Gang</p>
            }

            if (convenienceCircuit.ThreeGangQuantity > 0)
            {
                <p class="item-sub">3-Gang</p>
            }

            if (convenienceCircuit.FourGangQuantity > 0)
            {
                <p class="item-sub">4-Gang</p>
            }
        }
    </div>

    <div class="circuit-preview-value">
        <label>Volt Amps</label>
        <p>@(Circuit.VoltAmpere.HasError ? Circuit.VoltAmpere.ErrorMessage : Math.Round(Circuit.VoltAmpere.Value, 4))</p>
    </div>

    <div class="circuit-preview-value">
        <label>Ampere Load</label>
        <p class="@(Circuit.AmpereLoad.HasError || isAmpereLoadExceeding ? "item-error" : "")">@(Circuit.AmpereLoad)</p>
        @if (isAmpereLoadExceeding)
        {
        <p class="item-error item-sub">*As per PEC Part 1 2017 2.10.2.6 (D) p.45, it cannot be greater than 50 A</p>
        }
    </div>

    <div class="circuit-preview-value">
        <label>Ampere Trip</label>
        
        @if (convenienceCircuit != null && convenienceCircuit.HasExceedingAmpereTrip)
        {
            <div class="circuit-preview-value-row item-error">
                <p>@(Circuit.AmpereTrip)</p>
                <InfoButton>
                    <div class="info-tooltip-error-content">
                        <div class="info-tooltip-error-content-group">
                            <h6>Notice</h6>
                            <p>GFCI Receptacle Ampere Trip is limited to 15 AT and 20 AT only.</p>
                        </div>
                        
                        <div class="info-tooltip-error-content-group item-error">
                            <h6>Suggestion:</h6>
                            <p>Change the GFCI Receptacles to 2-Gang Outlets and change Circuit Protection Type to GFCI Circuit Breaker.</p>
                        </div>
                    </div>
                </InfoButton>
                <button
                    type="button"
                    class="btn-text btn-destructive"
                    @onclick="ResolveExceedingAmpereTrip">
                    Resolve
                </button>
            </div>
        }
        else
        {
            <p class="@(Circuit.AmpereTrip.HasError ? "item-error" : "")">@(Circuit.AmpereTrip)</p>
        }
    </div>

    <div class="circuit-preview-value">
        <label>Ampere Frame</label>
        <p class="@(Circuit.AmpereFrame.HasError ? "item-error" : "")">@(Circuit.AmpereFrame)</p>
    </div>

    <div class="circuit-preview-value">
        <label>R</label>
        <p class="@(Circuit.R.HasError ? "item-error" : "")">@(Circuit.R)</p>
    </div>

    <div class="circuit-preview-value">
        <label>X</label>
        <p class="@(Circuit.X.HasError ? "item-error" : "")">@(Circuit.X)</p>
    </div>

    <div class="circuit-preview-value">
        <label>Voltage Drop</label>
        <p class="@(Circuit.VoltageDrop.HasError ? "item-error" : "")">@(Circuit.VoltageDrop.HasError ? Circuit.VoltageDrop.ErrorMessage : Math.Round(Circuit.VoltageDrop.Value, 4).ToPercentageString())</p>
    </div>

    <div class="circuit-preview-value">
        <label>Conductor Size</label>
        <p class="@(Circuit.ConductorSize.HasError ? "item-error" : "")">@(Circuit.ConductorSize)</p>
    </div>

    <div class="circuit-preview-value">
        <label>Ground Size</label>
        <p class="@(Circuit.GroundingSize.HasError ? "item-error" : "")">@(Circuit.GroundingSize)</p>
    </div>

    <div class="circuit-preview-value">
        <label>Raceway Size</label>
        <p class="@(Circuit.RacewaySize.HasError ? "item-error" : "")">@(Circuit.RacewaySize)</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public Circuit Circuit { get; set; } = default!;
    
    [Parameter, EditorRequired] public EventCallback OnCircuitChange { get; set; }

    private Task ResolveExceedingAmpereTrip()
    {
        if (Circuit is ConvenienceOutletCircuit convenienceCircuit)
        {
            convenienceCircuit.CircuitProtection = CircuitProtection.GfciCircuitBreaker;
        }
        
        return OnCircuitChange.InvokeAsync();
    }
}